* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #A2A1A1;
}

/* СТИЛИ БЛОКА 1 */
.main-canvas {
    position: relative;
    width: 1280px;
    height: 894px;
    background-color: #A2A1A1;
    margin: 0 auto;
    overflow: hidden;
}

.logo-box {
    position: absolute;
    left: 60px;
    top: 92px;
    width: 599px;
    height: 46px;
}

.logo-img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-card {
    position: absolute;
    width: 1159px;
    height: 640px;
    left: 60px;
    top: 183px;
    background-color: #D9D9D9;
    border-radius: 40px;
    z-index: 1;
}

.pearl-layer {
    position: absolute;
    right: 19px;
    top: 129px;
    width: 952px;
    height: 750px;
    z-index: 10;
    pointer-events: none;
}

.pearl-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-title {
    position: absolute;
    top: 77px;
    left: 46px;
    margin: 0;
    font-family: 'ArialCustom', sans-serif;
    font-size: 29px;
    font-weight: 400;
    color: #000000;
    line-height: 1.1;
    text-align: left;
}

.info-badge {
    position: absolute;
    width: 400px;
    height: 156px;
    left: 42px;
    bottom: 42px;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    align-items: center;
}

.info-text {
    font-family: 'ArialCustom', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 1.3;
    margin: 0;
    text-align: left;
}

/* СТИЛИ БЛОКА 2 */
.mission-canvas {
    position: relative;
    width: 1280px;
    height: 652px;
    background-color: #A2A1A1;
    margin: 0 auto;
    overflow: hidden;
}

.mission-desc {
    position: absolute;
    left: 59px;
    top: 0;
    margin: 0;
    font-family: 'ArialCustom', sans-serif;
    font-size: 29px;
    font-weight: 400;
    color: #000000;
    line-height: 1.2;
    text-align: left;
    max-width: 800px;
}

.mission-title {
    position: absolute;
    right: 63px;
    top: 59px;
    margin: 0;
    font-family: 'ArialCustom', sans-serif;
    font-size: 29px;
    font-weight: 400;
    color: #000000;
}

.cards-container {
    position: absolute;
    top: 207px;
    left: 59px;
    display: flex;
    gap: 89px;
}

.category-card {
    position: relative;
    width: 327px;
    height: 380px;
    background-color: #D9D9D9;
    border-radius: 25px;
}

.category-name {
    position: absolute;
    left: 16px;
    top: 33px;
    font-family: 'ArialCustom', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.category-img {
    position: absolute;
    left: 16px;
    bottom: 16px;
    width: calc(100% - 32px);
    height: auto;
    display: block;
}

/* СТИЛИ БЛОКА 3 */
.gadgets-canvas {
    position: relative;
    width: 1280px;
    height: 984px;
    background-color: #A2A1A1;
    margin: 0 auto;
    overflow: hidden;
}

.gadgets-subtitle {
    position: absolute;
    left: 59px;
    top: 0;
    margin: 0;
    font-family: 'ArialCustom', sans-serif;
    font-size: 29px;
    font-weight: 400;
    color: #000000;
    z-index: 10;
}

.bg-logo {
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
    width: 1293px;
    height: 226px;
    z-index: 1;
}

.boxes-img {
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    width: 1409px;
    height: 940px;
    z-index: 5;
    pointer-events: none;
}

.bottom-logo {
    position: absolute;
    right: 59px;
    bottom: 92px;
    width: 599px;
    height: 46px;
    z-index: 10;
}