* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #A2A1A1;
    overflow-x: hidden;
}

.main-canvas {
    position: relative;
    width: 100vw;
    height: 69.84vw;
}

.logo-box {
    position: absolute;
    left: 4.68vw;
    top: 7.18vw;
    width: 46.79vw;
}

.logo-box img {
    width: 100%;
    height: auto;
}

.hero-card {
    position: absolute;
    width: 90.54vw;
    height: 50vw;
    left: 4.68vw;
    top: 14.29vw;
    background-color: #D9D9D9;
    border-radius: 3.12vw;
    z-index: 1;
}

.pearl-layer {
    position: absolute;
    right: 1.48vw;
    top: 10.07vw;
    width: 74.37vw;
    z-index: 10;
    pointer-events: none;
}

.pearl-layer img {
    width: 100%;
    height: auto;
}

.hero-title {
    position: absolute;
    top: 6.01vw;
    left: 3.59vw;
    font-size: 2.26vw;
    line-height: 1.1;
    font-family: sans-serif;
}

.info-badge {
    position: absolute;
    width: 31.25vw;
    height: 12.18vw;
    left: 3.28vw;
    bottom: 3.28vw;
    background-color: #FFFFFF;
    border-radius: 1.95vw;
    display: flex;
    align-items: center;
    padding: 2.3vw;
}

.info-badge p {
    font-size: 1.25vw;
    line-height: 1.3;
}

.mission-canvas {
    position: relative;
    width: 100vw;
    height: 50.93vw;
}

.mission-desc {
    position: absolute;
    left: 4.6vw;
    top: 0;
    font-size: 2.26vw;
    max-width: 62.5vw;
    font-family: sans-serif;
}

.cards-container {
    position: absolute;
    top: 16.17vw;
    left: 4.6vw;
    display: flex;
    gap: 6.95vw;
}

.category-card {
    width: 25.54vw;
    height: 29.68vw;
    background-color: #D9D9D9;
    border-radius: 1.95vw;
}

.gadgets-canvas {
    position: relative;
    width: 100vw;
    height: 76.87vw;
}

.bg-logo {
    position: absolute;
    top: 7.42vw;
    left: 50%;
    transform: translateX(-50%);
    width: 101vw;
}

.boxes-img {
    position: absolute;
    top: 1.71vw;
    left: 50%;
    transform: translateX(-50%);
    width: 110vw;
    z-index: 5;
}

@media screen and (max-width: 1023px) {
    .main-canvas {
        height: 66.79vw;
    }

    .hero-card {
        border-radius: 5.2vw;
    }

    .info-badge {
        width: 32.16vw;
        height: 11.58vw;
    }

    .hero-title {
        font-size: 3.12vw;
    }

    .mission-canvas {
        height: 46.22vw;
    }
}

@media screen and (max-width: 767px) {
    .main-canvas {
        height: 71.56vw;
    }

    .logo-box {
        width: 43.75vw;
        left: 3.43vw;
        top: 8.12vw;
    }

    .hero-card {
        width: 93.12vw;
        height: 47.18vw;
        left: 3.43vw;
        top: 13.75vw;
        border-radius: 6.25vw;
    }

    .hero-title {
        font-size: 3.12vw;
        top: 5vw;
        left: 3.43vw;
    }

    .info-badge {
        width: 31.87vw;
        height: 11.25vw;
        left: 3.43vw;
        bottom: 2.5vw;
        border-radius: 1.5vw;
    }

    .info-badge p {
        font-size: 1.25vw;
    }

    .mission-canvas {
        height: 65.93vw;
    }

    .mission-desc {
        font-size: 3.12vw;
        left: 3.43vw;
    }

    .cards-container {
        top: 26.87vw;
        left: 3.43vw;
        gap: 5.62vw;
    }

    .category-card {
        width: 27.18vw;
        height: 28.75vw;
        border-radius: 3.12vw;
    }

    .gadgets-canvas {
        height: 83.1vw;
    }

    .bg-logo {
        width: 102vw;
        top: 13.7vw;
    }

    .boxes-img {
        width: 118vw;
        top: 10.3vw;
    }
}