* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #A2A1A1;
}

.main-canvas {
    position: relative;
    width: 1280px;
    height: 894px;
    background-color: #A2A1A1;
    margin: 0 auto;
    overflow: hidden;
}

.logo-box {
    position: absolute;
    left: 60px;
    top: 92px;
    width: 599px;
    height: 46px;
}

.logo-img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-card {
    position: absolute;
    width: 1159px;
    height: 640px;
    left: 60px;
    top: 183px;
    background-color: #D9D9D9;
    border-radius: 40px;
    z-index: 1;
}

.pearl-layer {
    position: absolute;
    right: 19px;
    top: 129px;
    width: 952px;
    height: 750px;
    z-index: 10;
    pointer-events: none;
}

.pearl-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-title {
    position: absolute;
    top: 77px;
    left: 46px;
    margin: 0;
    font-family: 'ArialCustom', sans-serif;
    font-size: 29px;
    font-weight: 400;
    color: #000000;
    line-height: 1.1;
    text-align: left;
}

.info-badge {
    position: absolute;
    width: 400px;
    height: 156px;
    left: 42px;
    bottom: 42px;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    align-items: center;
}

.info-text {
    font-family: 'ArialCustom', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 1.3;
    margin: 0;
    text-align: left;
}